//! **************************************************************************
// Written by: Map P.20131013 on Mon Oct 12 09:50:05 2020
//! **************************************************************************

SCHEMATIC START;
COMP "LED" LOCATE = SITE "P46" LEVEL 1;
COMP "CKHT" LOCATE = SITE "P129" LEVEL 1;
TIMEGRP clk = BEL "CHIAXUNG/D1_REG_23" BEL "CHIAXUNG/D1_REG_22" BEL
        "CHIAXUNG/D1_REG_21" BEL "CHIAXUNG/D1_REG_20" BEL "CHIAXUNG/D1_REG_19"
        BEL "CHIAXUNG/D1_REG_18" BEL "CHIAXUNG/D1_REG_17" BEL
        "CHIAXUNG/D1_REG_16" BEL "CHIAXUNG/D1_REG_15" BEL "CHIAXUNG/D1_REG_14"
        BEL "CHIAXUNG/D1_REG_13" BEL "CHIAXUNG/D1_REG_12" BEL
        "CHIAXUNG/D1_REG_11" BEL "CHIAXUNG/D1_REG_10" BEL "CHIAXUNG/D1_REG_9"
        BEL "CHIAXUNG/D1_REG_8" BEL "CHIAXUNG/D1_REG_7" BEL
        "CHIAXUNG/D1_REG_6" BEL "CHIAXUNG/D1_REG_5" BEL "CHIAXUNG/D1_REG_4"
        BEL "CHIAXUNG/D1_REG_3" BEL "CHIAXUNG/D1_REG_2" BEL
        "CHIAXUNG/D1_REG_1" BEL "CHIAXUNG/D1_REG_0" BEL
        "CKHT_BUFGP/BUFG.GCLKMUX" BEL "CKHT_BUFGP/BUFG";
SCHEMATIC END;

