//! **************************************************************************
// Written by: Map P.20131013 on Sun Oct 04 12:45:23 2020
//! **************************************************************************

SCHEMATIC START;
COMP "LED<0>" LOCATE = SITE "P46" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P47" LEVEL 1;
COMP "CKHT" LOCATE = SITE "P129" LEVEL 1;
TIMEGRP CKHT = BEL "CHIA2XUNG/D10_REG_23" BEL "CHIA2XUNG/D10_REG_22" BEL
        "CHIA2XUNG/D10_REG_21" BEL "CHIA2XUNG/D10_REG_20" BEL
        "CHIA2XUNG/D10_REG_19" BEL "CHIA2XUNG/D10_REG_18" BEL
        "CHIA2XUNG/D10_REG_17" BEL "CHIA2XUNG/D10_REG_16" BEL
        "CHIA2XUNG/D10_REG_15" BEL "CHIA2XUNG/D10_REG_14" BEL
        "CHIA2XUNG/D10_REG_13" BEL "CHIA2XUNG/D10_REG_12" BEL
        "CHIA2XUNG/D10_REG_11" BEL "CHIA2XUNG/D10_REG_10" BEL
        "CHIA2XUNG/D10_REG_9" BEL "CHIA2XUNG/D10_REG_8" BEL
        "CHIA2XUNG/D10_REG_7" BEL "CHIA2XUNG/D10_REG_6" BEL
        "CHIA2XUNG/D10_REG_5" BEL "CHIA2XUNG/D10_REG_4" BEL
        "CHIA2XUNG/D10_REG_3" BEL "CHIA2XUNG/D10_REG_2" BEL
        "CHIA2XUNG/D10_REG_1" BEL "CHIA2XUNG/D10_REG_0" BEL
        "CHIA2XUNG/D1_REG_23" BEL "CHIA2XUNG/D1_REG_22" BEL
        "CHIA2XUNG/D1_REG_21" BEL "CHIA2XUNG/D1_REG_20" BEL
        "CHIA2XUNG/D1_REG_19" BEL "CHIA2XUNG/D1_REG_18" BEL
        "CHIA2XUNG/D1_REG_17" BEL "CHIA2XUNG/D1_REG_16" BEL
        "CHIA2XUNG/D1_REG_15" BEL "CHIA2XUNG/D1_REG_14" BEL
        "CHIA2XUNG/D1_REG_13" BEL "CHIA2XUNG/D1_REG_12" BEL
        "CHIA2XUNG/D1_REG_11" BEL "CHIA2XUNG/D1_REG_10" BEL
        "CHIA2XUNG/D1_REG_9" BEL "CHIA2XUNG/D1_REG_8" BEL "CHIA2XUNG/D1_REG_7"
        BEL "CHIA2XUNG/D1_REG_6" BEL "CHIA2XUNG/D1_REG_5" BEL
        "CHIA2XUNG/D1_REG_4" BEL "CHIA2XUNG/D1_REG_3" BEL "CHIA2XUNG/D1_REG_2"
        BEL "CHIA2XUNG/D1_REG_1" BEL "CHIA2XUNG/D1_REG_0" BEL
        "CKHT_BUFGP/BUFG.GCLKMUX" BEL "CKHT_BUFGP/BUFG";
TS_CKHT = PERIOD TIMEGRP "CKHT" 12 MHz HIGH 50%;
SCHEMATIC END;

