//! **************************************************************************
// Written by: Map P.20131013 on Mon Oct 12 13:26:04 2020
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "MCLK" LOCATE = SITE "P129" LEVEL 1;
COMP "sevenSegment<0>" LOCATE = SITE "P117" LEVEL 1;
COMP "sevenSegment<1>" LOCATE = SITE "P116" LEVEL 1;
COMP "sevenSegment<2>" LOCATE = SITE "P115" LEVEL 1;
COMP "sevenSegment<3>" LOCATE = SITE "P113" LEVEL 1;
COMP "sevenSegment<4>" LOCATE = SITE "P112" LEVEL 1;
COMP "sevenSegment<5>" LOCATE = SITE "P111" LEVEL 1;
COMP "sevenSegment<6>" LOCATE = SITE "P110" LEVEL 1;
COMP "sevenSegment<7>" LOCATE = SITE "P114" LEVEL 1;
COMP "enable1" LOCATE = SITE "P120" LEVEL 1;
COMP "enable2" LOCATE = SITE "P121" LEVEL 1;
COMP "enable3" LOCATE = SITE "P124" LEVEL 1;
SCHEMATIC END;

